/* Common Styles */
.app {
  display: flex;
  height: 100vh;
  font-family: "Arial", sans-serif;
}

.mode-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.ai-message {
  text-align: left;
  color: black;
  background-color: #b9b9b9;
  margin-right: 55%;
  margin-left: 10%;
}

.me-message {
  text-align: left;
  background-color: #7e3de6;
  margin-left: 55%;
  margin-right: 10%;
}

/* Light Mode Styles */
.light-mode {
  color: #000;
  background-color: #f4f4f4;
}

.light-mode .chat-window .messages .me-message {
  background-color: #7e3de6;
  color: white;
}

.light-mode .chat-window .messages .ai-message {
  background-color: #b9b9b9;
}

.light-mode .chat-list,
.light-mode .input-area {
  background-color: #e0e0e0;
}

.light-mode .message {
  background-color: #fff;
  color: #000;
}

.light-mode input {
  background-color: #fff;
  color: #000;
}

.light-mode button {
  background-color: #007bff;
  color: #fff;
}

.light-mode button:hover {
  background-color: #0056b3;
}

.light-mode .chat-summary.active {
  background-color: #d0d0d0;
}

/* Dark Mode Styles */
.dark-mode {
  color: #e1e1e1;
  background-color: #2c2c2c;
}

.dark-mode .chat-list,
.dark-mode .input-area {
  background-color: #1e1e1e;
}

.dark-mode {
  background-color: #333333;
}

.dark-mode input {
  background-color: #333333;
  color: #e1e1e1;
}

.dark-mode button {
  background-color: #007bff;
  color: #fff;
}

.dark-mode button:hover {
  background-color: #0056b3;
}

.dark-mode .chat-summary.active {
  background-color: #444444;
}

/* Other Styles */
.chat-list {
  width: 200px;
  overflow-y: auto;
  border-right: 1px solid #444;
}

.chat-summary {
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.chat-summary:hover {
  background-color: #333333;
}

.chat-window {
  padding-top: 32px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  border-bottom: 1px solid #444;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.input-area {
  display: flex;
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}
